[app]
SECRET_KEY = your_secret_key_here
DEBUG = True

[database]
MONGO_URI = mongodb://localhost:27017/
DB_NAME = phishtank_th

[email]
MAIL_SERVER = smtp.gmail.com
MAIL_PORT = 587
MAIL_USE_TLS = True
MAIL_USERNAME = your_email@gmail.com
MAIL_PASSWORD = your_app_password

[api]
GOOGLE_SAFE_BROWSING_KEY = your_google_safe_browsing_key
API_KEY = your_internal_api_key
